html,
body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: darkolivegreen;
}
.pimg1{
    background-image: url(240_F_314816591_yBAWvMvnpTW05AP0q4DCs5B6y2gnL9xA.jpg);
   min-height: 90%;

}
.pimg2{
    background-image: url(240_F_314816591_yBAWvMvnpTW05AP0q4DCs5B6y2gnL9xA.jpg);
    min-height: 500px;
}
.pimg3{
    background-image: url(240_F_314816591_yBAWvMvnpTW05AP0q4DCs5B6y2gnL9xA.jpg);
    min-height: 400px;

}
 .pimg1,
.pimg2,
.pimg3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.imgg{
    margin-right: 80%;
}
.name{
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 12%;
    margin-left: 35%;


}
.ptext1{
    position: absolute;
    top: 20%;
    width: auto;
    text-align: center;
    color: rgb(81, 22, 190);
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 6px;
    text-transform: uppercase;
    /* background-color: rgb(77, 37, 221); */
    color: rgb(221, 212, 236);
    padding: 20px;
    margin-left: 15%;
}
.ptext{
    position: absolute;
    top: 50%;
    width: auto;
    /* text-align: center; */
    color: rgb(5, 1, 12);
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 6px;
    text-transform: uppercase;
    /* background-color: rgb(77, 37, 221); */
    color: rgb(153, 163, 172);
    padding: 20px;
    margin-left: 20%;
}

.section{
    padding: 50px;
    text-align: center;
}
.section-light{
    background-color: rgb(71, 78, 78);
    color: bisque;
}
.section-DARK{
    color: rgb(79, 88, 92);
    background-color: rgb(184, 169, 169);
    font-weight: 800;
    font-size: larger;

}
.section-grey{
    background-color: rgb(122, 209, 151);
     color: rgb(40, 46, 46);
}